* {
    box-sizing: border-box;
}

.carousel-container {
    overflow: hidden;
    width: 50vw;
    height: 50vh;
    border: solid red;
}

#carousel-track {
    display: flex;
    width: 200vw;
    height: 100%;
    border: solid orange;
}

.carousel-slide {
    width: 100%;
}

img {
    object-fit: contain;
    width: 50vw;
}